<div class="container-fluid mt-10 flex align-content-center justify-center">
  <div class="bg-white p-8 border rounded-xl border-slate-300 sm:w-full mx-5
  lg:w-10/12 xl:w-1/2">
    <div class="flex justify-between p-3">
      <div class="image">
        <img src="https://img.icons8.com/color/96/000000/angularjs.png" width="100" alt="">
      </div>
      <div class="quiz-header mt-2">
        <h4 class="text-xl font-bold">Angular & TypeScript Quiz</h4>
        <span>Welcome {{name}}</span>
      </div>
    </div>

    <ng-container *ngIf="!isQuizCompleted">
      <div class="flex justify-around py-3 text-lg font-bold">
        <div class="score">
          <h5>{{points}} Points</h5>
        </div>
        <div class="question-remaining">
          <span>Question {{currentQuestion + 1}} of {{questionList.length}}</span>
        </div>
        <div class="timer">
          <h5>{{counter}} sec ⌛</h5>
        </div>
      </div>
      <div class="w-full bg-gray-200 rounded-full dark:bg-gray-150">
        <div class="bg-blue-600 h-6 text-lg font-medium text-blue-100 text-center  p-0.5 leading-none rounded-full"
          [ngStyle]="{'width': progress + '%' }"> {{progress}}%</div>
      </div>
      <div class="question mt-6">
        <div class="bg-white px-3 py-4 border rounded-xl  border-slate-300 w-full ">
          <h3 class="text-xl font-bold">{{questionList[currentQuestion]?.questionText}}</h3>
        </div>
      </div>
      <div class="options mt-2">
        <ol class="list-decimal ml-5" *ngFor="let option of questionList[currentQuestion]?.options">
          <li class="mt-2" (click)="answer(currentQuestion+1,option)">
            <div appChangeBg [isCorrect]="option.correct"
              class="px-3 py-4 border rounded-xl border-slate-300 w-full  cursor-pointer duration-300 ease-in-out  hover:transition-all hover:duration-500 text-lg font-semibold">
              {{option.text}}
            </div>
          </li>

        </ol>
      </div>
      <div class="flex justify-between mt-10">
        <button
          class=" inline-flex items-center justify-center w-16 h-16 mr-2 text-indigo-100 transition-colors duration-150 bg-blue-700 rounded-full focus:shadow-outline hover:bg-blue-800"
          (click)="prevQuestion()" [disabled]="currentQuestion === 0">
          <svg class="w-10 h-10 " fill="none" stroke="currentColor" viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="5" d="M15 19l-7-7 7-7"></path>
          </svg>
        </button>
        <button
          class=" inline-flex items-center justify-center w-16 h-16 mr-2 text-indigo-100 transition-colors duration-150 bg-blue-700 rounded-full focus:shadow-outline hover:bg-blue-800"
          (click)="resetQuiz()">
          <svg class="w-10 h-10 " fill="none" stroke="currentColor" viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="3"
              d="M4 4v5h.582m15.356 2A8.001 8.001 0 004.582 9m0 0H9m11 11v-5h-.581m0 0a8.003 8.003 0 01-15.357-2m15.357 2H15">
            </path>
          </svg>
        </button>
        <button
          class=" inline-flex items-center justify-center w-16 h-16 mr-2 text-indigo-100 transition-colors duration-150 bg-blue-700 rounded-full focus:shadow-outline hover:bg-blue-800"
          (click)="nextQuestion()" [disabled]="currentQuestion === questionList.length -1">
          <svg class="w-10 h-10 " fill="none" stroke="currentColor" viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="5" d="M9 5l7 7-7 7"></path>
          </svg>
        </button>
      </div>
    </ng-container>

    <ng-container *ngIf="isQuizCompleted">
      <div class="row flex justify-center">
        <div class="text-center col-md-6 col-sm-12">
          <h3 class="text-xl font-bold">Congratulations!!
            <br>You have completed the quiz<br> Below is your result:
          </h3>
          <p>Total Questions Attempted : {{questionList.length}} </p>
          <p>Total Correct Answered : {{correctAnswer}} </p>
          <p>Total Wrong Answered : {{incorrectAnswer}} </p>
          <p class="text-xl font-bold">Your Score : {{points}} Points </p>
        </div>
      </div>
    </ng-container>


  </div>
</div>
